################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/CDrive/v14
/src/CDrive/bin/Debug
/src/CDrive/obj/Debug
/src/packages
